openapi: 3.2.0
info:
  title: Ezoic Big Data Analytics Filters API
  version: v1
  description: REST API for pulling the same reports and analytics data a publisher sees in the Ezoic dashboard — predefined reports that ship with the account, and custom reports the publisher builds. Endpoints live under /bdaservices/ on the Ezoic API gateway and are authenticated with the shared Ezoic API-gateway developerKey. Faithfully modeled from the public documentation at https://docs.ezoic.com/docs/api/bdaservices/ — every path, request field and enumerated value below is stated on that page or the API landing page at https://docs.ezoic.com/docs/api/.
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.ezoic.com/docs/api/bdaservices/
  contact:
    name: Ezoic Support
    url: https://support.ezoic.com/
servers:
- url: https://api-gateway.ezoic.com
  description: Ezoic API gateway (production)
security:
- developerKey: []
tags:
- name: Filters
  description: Multifilters and multifilter types used to build segments.
paths:
  /bdaservices/getmultifilters/:
    get:
      operationId: getMultiFilters
      summary: List multifilters
      description: Returns the multifilters available for building segments — preset groups such as Country, device, gender and site — each with a FilterName, MultiFilterId and MultiFilterTypeId.
      tags:
      - Filters
      parameters:
      - $ref: '#/components/parameters/developerKey'
      responses:
        '200':
          description: The available multifilters.
          content:
            application/json: {}
  /bdaservices/getmultifiltertypes/:
    get:
      operationId: getMultiFilterTypes
      summary: List multifilter types and their options
      description: Returns the option keys available for each multifilter type. Multifilter type 1 maps to the Country filter, whose option keys are two-character country codes.
      tags:
      - Filters
      parameters:
      - $ref: '#/components/parameters/developerKey'
      responses:
        '200':
          description: The multifilter types and their options.
          content:
            application/json: {}
components:
  parameters:
    developerKey:
      name: developerKey
      in: query
      required: true
      description: Your Ezoic API key, from Settings -> API Access in the Ezoic dashboard. Shared across every Ezoic API-gateway service you have enabled.
      schema:
        type: string
  securitySchemes:
    developerKey:
      type: apiKey
      in: query
      name: developerKey
      description: Your Ezoic API-gateway developer key, passed as a query parameter.
